.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
  color: var(--gray);
  transition: color 0.3s ease-in-out;
}

.settings__setting:hover {
  color: black;
  cursor: pointer;
}

.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
}
