.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px; /* 사각형을 원으로 만들기 위해서는 사각형 width의 절반을 값으로 쓰면 된다.*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
